{% extends 'base.html' %}

{% block body %}

<a class="btn btn-info btn-lg m-5" href="/create">CREATE NEW TASK</a>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success w-50 mb-3 m-auto text-center" role="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% for post in posts %}
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        {% if post.due.date() < today %}
        <div class="alert alert-warning text-center" role="alert">
            <b>期限切れです！</b>
          </div>
        {% endif %}
      <h2 class="card-title">タイトル：{{ post.title }}</h2>
      <p>期限：{{ post.due.date() }}</p>
      <a class="btn btn-secondary btn-sm" href="detail/{{ post.id }}">Detail</a>
      <a class="btn btn-success btn-sm" href="update/{{ post.id }}">Update</a>
      <a class="btn btn-danger btn-sm" href="delete/{{ post.id }}">Delete</a>
    </div>
  </div>
{% endfor %}
{% endblock %}